 @import url('https://fonts.googleapis.com/css2?family=Bakbak+One&family=Holtwood+One+SC&display=swap'); 
 @import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@1,300&display=swap');
.titulo
{
    display: flex;
    justify-content: center;
    font-size: 50px;
    font-family: 'Rubik Bubbles', cursive;
}

.titulo:hover{
color: rgb(114, 0, 0);
cursor: pointer;
}

div{
    display: flex;
}

.contenedor
{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold; font-weight: bolder;
    border-style: solid; border-color: black; border-width: thin;
    background-color:  rgba(165, 42, 42, 0.801);
}
.internacional:hover{
    transform: scale(1.2);
    cursor: pointer;
    transition: all 1s; 
}
.Ligaa:hover{
    transform: scale(1.2);
    cursor: pointer;
    transition: all 1s;
}
.Premi:hover{
    transform: scale(1.2);
    cursor: pointer;
    transition: all 1s;
}
.ayud:hover{
    transform: scale(1.2);
    cursor: pointer;
    transition: all 1s;
}
a   {
    display: flex;
   text-decoration: none;
   font-size: 20px;
   padding-right: 15px;
   color: black;
}
footer{
    justify-content: center;
    margin-bottom: 0px;
    width: 100%;
    height: 60px;
    background-color: rgba(165, 42, 42, 0.801);
}
.icons{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    margin-top: 19px;
    

    }
    .icon-1{
        display: flex;
        height: 25px;
        width: 25px;
        margin-top: 15px;
    
    
    }
    .icon-2{
        display: flex;
        height: 25px;
        width: 25px;
        margin-top: 15px;   
    
    }
    .icon-3{
        display: flex;
        height: 25px;
        width: 25px;
        margin-top: 15px;
    
    }
    .icon-4{
        display: flex;
        height: 25px;
        width: 25px;
        margin-top: 15px;
    
    }

.oferta{

    font-family: 'Bakbak One', cursive;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border: 50%;
    margin-top: 40px;
    text-decoration: underline; color: rgb(221, 4, 4);
    font-size: 30px;
    overflow: hidden;
    }



        .prod{
        display: flex;
        flex-direction: row;
        justify-content: center;
        border-style: solid; border-color:brown;
        margin-bottom: 50px;
    }
    .producto-1{
    display: flex; 
    flex-direction: row;
    justify-content: flex-start;
    height: 250px;
    width: auto;
    align-items: center;
    margin: 10px;
   
    }

    .produn1:hover{
        transform: scale(0.9);
        cursor: pointer;
        transition: all 1s;
    }
    

    .producto-2{
    display: flex;
    flex-direction: row;
    justify-content: end;
    height: 250px;
    width: auto;    
    margin: 10px;
    align-items: center;
    }
    .produn2:hover{
        transform: scale(0.9);
        cursor: pointer;
        transition: all 1s;
    }

    .producto-3{
    display: flex;
    flex-direction: row;
    justify-content: end;
    height: 250px;
    width: auto;    
    margin: 10px;
    align-items: center;
    }  
    .produn3:hover{
        transform: scale(0.9);
        cursor: pointer;
        transition: all 1s;
    } 

    .sale-1{
    font-family: 'Bakbak One', cursive;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border: 50%;
    margin-top: 60px;
    margin-bottom: 40px;
    color: brown;
    font-size: 30px;
    overflow: hidden;
    }
    .prod-1{
        display: flex;
        flex-direction: row;
        justify-content: center;
        
        }
        .producto-4{
            display: flex; 
            flex-direction: row;
            justify-content: flex-start;
            height: 250px;
            width: auto;
            margin: 10px;
            align-items: center;
            }
         .producto-5{
            display: flex;
            flex-direction: row;
            justify-content: end;
            height: 250px;
            width: auto;        
            margin: 10px;
            align-items: center;
            } 
            .producto-6{
                display: flex;
                flex-direction: row;
                justify-content: end;
                height: 250px;
                width: auto;    
                margin: 10px;
                align-items: center;
                }   
               
.header{
    display: flex;
    font-family: 'Holtwood One SC', serif;
    flex-direction: row;
    justify-content: center;
    margin-top: 30px;
}
.banderas{
    height: 100px;
    width: auto
}
.bandera-ing
{
    margin-left: 30px;
    margin-right: 30px;
    height: 100px;
    width: auto
}
.premier-h{
    margin-top: 30px;
    margin-bottom: 30px;
}
.header-mundi{
    font-family: 'Bakbak One', cursive;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border: 50%;
    margin-top: 40px;
    margin-bottom: 40px;
    text-decoration: underline; color: rgb(221, 4, 4);
    font-size: 30px;
    overflow: hidden;
    
}
.header-arg{
    font-family: 'Bakbak One', cursive;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 40px;
    margin-bottom: 0px;
    margin-left: 60px;
    text-decoration: underline; color: rgb(1, 19, 184);
    font-size: 30px;
    overflow: hidden;
    
}

.BOCA{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.prod-arg{
    display: flex;
    justify-content: flex-end;
    margin-left: 50px;
}
.producto-7{
    display: flex; 
    height: 250px;
    width: auto;
    margin-right: 10px;
    margin-left: 10px;
    
    }
 .producto-8{
    display: flex;
    height: 250px;
    width: auto;        
    margin-right: 10px;
    margin-left: 10px;
    
    } 
    .producto-9{
        display: flex;
        height: 250px;
        width: auto;    
        margin-right: 10px;
        margin-left: 10px; 
        }   
            .producto-text{
                font-family: 'Nunito', sans-serif;
            justify-content: center;
            margin-top: 10px;
            }

.texto-boca{
    display: flex;
    justify-content: flex-start;
    text-align: left;
    margin-right: 50px;
    margin-bottom: 500px;
    flex-wrap: nowrap;
    font-family: 'Ubuntu', sans-serif;
    height: 500px;
    width: auto;
     position: sticky;
}
.pro{
    display: flex;
    flex-direction: row; 
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-end;
    size: auto;
    margin-bottom: 400px;
}

.pro9{
    
    margin: 10px;   
}
.form{
    margin-top: 30px;
    font-family: 'Bakbak One', cursive;
    background-color:  rgba(165, 42, 42, 0.637);
    margin-bottom: 30px;
}
.formulario{
    margin-bottom: 20px; 
    margin-left: 30px;
    
}
.Nombre{
    margin-right: 10px;
    margin-left: 30px;
    
}