@import url('https://fonts.googleapis.com/css2?family=Bakbak+One&family=Holtwood+One+SC&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@1,300&display=swap');

body{
    background-image: url(../Images/stylish-hexagonal-line-pattern-background_1017-19742.jpg); 
    background-repeat:repeat ;
    backface-visibility: 70%;
    display: grid;}


.titulo{
    display: grid;
    justify-content: center;
    :hover{
        color: rgb(114, 0, 0);
        cursor: pointer;
        }
        .titulo-texto{
            font-family: 'Rubik Bubbles', cursive;
            font-size: $textL ;
   
            }
        }

.head{
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: center;
    font-family: 'Ubuntu', sans-serif;
    font-weight: $textBold;
    border-style: solid; border-color: $secondary; border-width: thin;
    background-color: $mainColor;
    .internacional  {
        display: grid; justify-content:center; margin-left: $Margin;
        :hover{
            transform: scale(1.2);
                cursor: pointer;
                transition: all 1s;
        }
    }
    .Ligaa{
        display: grid; justify-content:center; margin-left: $Margin;
        :hover{
            transform: scale(1.2);
                cursor: pointer;
                transition: all 1s;
        }
    }
    .Premi {
        display: grid; justify-content: center; margin-left: $Margin;
        :hover{
            transform: scale(1.2);
                cursor:pointer;
                transition: all 1s;
        }
    }
    .ayud{
        display:grid; justify-content:center; margin-left: $Margin;
        :hover{
            transform: scale(1.2);
                cursor: pointer;
                transition: all 1s;
        }
    }
    
}
a{
    display:flex;
    text-decoration: none;
    font-size: $textS;
    padding-right:15px;
    color: $secondary;
}
.oferta{
    font-family: 'Holtwood One SC', serif;
    display:flex;
    flex-direction: row;
    justify-content: center;
    border:50%;
    margin-top: 40px;
    text-decoration: underline; color:$Keycolor ;
    font-size:$textM;
    overflow: hidden;
}

.produccion{
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content:space-around;
    
    
}

.produn1{
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    margin-bottom: 20px;
    .producto-1{        
        height: 250px;
        width: auto;
        align-items: center;
    }
    
    .producto-text1{
        font-family: 'Nunito', sans-serif;
        font-size: $textM;
        justify-content: center;
        margin-top: 10px;
    }
 
}

.produn1:hover{
    transform: scale(0.9);
    cursor: pointer;
    transition: all 1s;}  

.sale-1{
    font-family: 'Bakbak One', cursive;
    display: grid;
    justify-content: center;
    border: 50%;
    margin-top: 60px;
    margin-bottom: 40px;
    color: $mainColor;
    font-size: $textM;
    overflow: hidden;}

.header{
    display: flex;
    font-family: 'Holtwood One SC', serif;
    flex-direction: row;
    justify-content: center;
    margin-top: 15px;
    .banderas{
        height: 100px;
        width: auto}
    #selecciones{
    margin-top: 27px;}
    .bandera-ing{
        margin-top: 27px;
        height: 100px;
        width: auto}
    .premier-h{
    margin-top: 30px;
    margin-bottom: 30px;}
}
.header-mundi{
    font-family: 'Bakbak One', cursive;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border: 50%;
    margin-top: 40px;
    margin-bottom: 40px;
    text-decoration: underline; color:$Keycolor;
    font-size: $textM;
    overflow: hidden;}

.header-arg{
    font-family: 'Bakbak One', cursive;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 40px;
    margin-bottom: 0px;
    margin-left: 60px;
    text-decoration: underline; color: rgb(1, 19, 184);
    font-size: $textM;
    overflow: hidden;}  

.producto-text{
    font-family: 'Bakbak One', cursive;
    justify-content: center;
    margin-bottom: 15px ;}

.form{
    margin-top: 30px;
    font-family: 'Bakbak One', cursive;
    background-color: $mainColor;
    margin-bottom: 30px;}

.formulario{
    margin-bottom: 20px; 
    margin-left: 30px;}

footer{
display: grid;
justify-content: center;
margin-bottom: 0px;
width: 100%;
height: 60px;
background-color: $mainColor;
.icons{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    .icon-1{
        display: flex;
        height: 25px;
        width: 25px;
        margin-top: 15px;}
    .icon-2{
        display: flex;
        height: 25px;
        width: 25px;
        margin-top: 15px;}
    .icon-3{
        display: flex;
        height: 25px;
        width: 25px;
        margin-top: 15px;}
    .icon-4{
        display: flex;
        height: 25px;
        width: 25px;
        margin-top: 15px;}
    }
}

@media (max-width:660px){
    .head {
        grid-template-columns: auto;
        justify-content: center;}}

@media(max-width:660px){
    .produn1{
        grid-template-columns: auto;
        justify-content: center}}

@media(max-width:660px){
    .produccion{
        justify-content: center;}}

@media (max-width: 1225px){
    .produccion{
        grid-template-columns: auto;
        justify-content: center;}}  