//font weight
$textBold: 800;
$textLight: 600;

//font size
$textXL: 70px;
$textL: 50px;
$textM: 30px;
$textS: 20px;

//fonts
$MainFont:'Ubuntu', sans-serif;
$SecondFont: 'Holtwood One SC', serif;
$ThirdFont: 'Nunito', sans-serif;
$FourthFont: 'Bakbak One', cursive;