//colores
$mainColor: rgba(165, 42, 42, 0.801);
$secondary: black;
$Keycolor: rgb(221, 4, 4);

//font weight
$textBold: 800;
$textLight: 600;

//
$textXL: 70px;
$textL: 50px;
$textM: 30px;
$textS: 20px;

//
$Margin: 15px;